$px-only:false;                                    // 配置单位是否显示为px 

$navbarBgColor:              rgb(40,48,69);               //导航底色
$navbarHeight:               48px;                    //导航高度
$sidebarWidth:               200px;                   //侧边栏宽度

//颜色类
$blue:                       #0084FC;            //主色
// $blue2:                      #00c1de;
$blue2:                       #1BB0FF;
$lightGray:                  #F8F9FA;            //浅灰
$body-bg:                    #fff !default;      //主体底色
$headerBorderColor:          #EBEEF5;            //头部边框颜色
$sidebarBgColor:             $lightGray;           //侧边栏底色
$sidebarBgHoverColor:        rgba(34,139,230,0.1); //菜单悬浮颜色
$sidebarBorderColor:         #E4E7ED;            //侧边栏边框颜色
$text-color:                 #303133;            //默认文字颜色
$link-color:                 $blue;                //默认链接颜色
$headerNavLinkColor:         #FFF;               //主导航链接颜色
$sidebarIconColor:           #909399;            //菜单图标颜色
$text-white:                 #dee0e6;             //白色字体


//字体类
$font-family-base:           Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
$font-size-base:             u(0.14rem) !default;
$line-height-base:           1.428571429 !default;
$line-height-computed:       u(0.2rem) !default;
$sidebarIconSize:            u(0.18rem);             //菜单图标大小
$sidebarMainWidth:           u(0.5rem);             //侧边栏主菜单宽度
$sidebarItemWidth:           u(1.5rem);             //侧边栏主菜单宽度
$headerHeight:               u(0.5rem);             //顶部高度